body{
    display: flex;
    justify-content: center;
    background-color: #d5e1ef;
    margin-top: 100px;
    gap: 50px;
    text-transform: capitalize;
   
}
.container1{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    width: 500px;
    height: 730px;
    border-radius: 30px;
}
img{
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-bottom: 0px;
    border-radius: 20px;
   
    
}
.posn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px;
}
.txt1{
    display: flex;
    justify-content: center;
    font-size: 33px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #26324a;
}
.txt2{
    display: flex;
    justify-content: center;
    text-align:center ;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #838792;
}




@media only screen and (max-width: 600px)
{
    .container1{
        width: 100%;
        width: 400px;
       
    }
    img{
        height: 300px;
        width: 300px;
    }
    
}


@media only screen and (min-width: 1024px)
{
    .container1{
        width: 730px;
        height: 500px;

    }
    img{
        height: 200px;
        width: 200px;

    }
    @media only screen and (min-width: 1200px)
    {
        .container1{
            display: flex;
            flex-direction: row;
            width: 1000px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
    
        }
        img{
            display: flex;
            height: 300px;
            width: 300px;
    }
    .posn{
        display:flex;
        flex-direction: column;
        font-size: 60px;
    }
        
        
    
   
}
@media only screen and (max-width: 445px)
{
    .container1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:200px
        justify-content: center;
        align-items: center;
    }
    .posn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }